<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722959635287-tuph65ura0hgoangoq81um5g45iqf63v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722959635287-tuph65ura0hgoangoq81um5g45iqf63v</string>
	<key>API_KEY</key>
	<string>AIzaSyDA0CCavi7xlyPR9-0fe0O8635PZ7XecYE</string>
	<key>GCM_SENDER_ID</key>
	<string>722959635287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prankapps.prankchat</string>
	<key>PROJECT_ID</key>
	<string>prankchatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>prankchatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722959635287:ios:3d5a8862dd0e4c40d4a412</string>
	<key>DATABASE_URL</key>
	<string>https://prankchatapp.firebaseio.com</string>
</dict>
</plist>